/* ==========================================================================
Navbar
========================================================================== */

.navbar {
  background: transparent;
  border-bottom: 1px solid transparent;
  min-height: 70px;
  z-index: 40;
  transition: all 0.3s;

  &.is-mobile {
    background: var(--wrap-bg-color);
    border-bottom-color: var(--wrap-border-color);
  }

  &.is-solid {
    background: var(--wrap-bg-color);
    border-bottom-color: var(--wrap-border-color);

    .navbar-item {
      &.is-end-bordered {
        border-color: var(--wrap-border-color);
      }
    }
  }

  &.is-scrolled {
    background: var(--wrap-bg-color);
    border-bottom-color: var(--wrap-border-color);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);

    .navbar-brand {
      .navbar-burger {
        span {
          color: var(--title-color) !important;
        }
      }
    }

    .navbar-item {
      &.is-end-bordered {
        border-color: var(--wrap-border-color);
      }
    }

    .navbar-menu {
      .navbar-end {
        .navbar-item {
          .navbar-button {
            background: var(--primary);
            border: 1.2px solid var(--primary);
            box-shadow: var(--primary-box-shadow);

            &:hover {
              background: var(--primary);
              color: var(--white);
              border-color: var(--primary);
              box-shadow: var(--primary-box-shadow);
            }
          }
        }
      }
    }
  }

  .navbar-brand {
    img {
      height: 38px;
      max-height: 38px;
      width: auto;
    }

    .logo-text {
      margin-#{$start-direction}: 1rem;
      font-family: var(--font-alt);
      font-size: 1.5rem;
      color: var(--title-color);
      font-weight: 500;
    }
  }

  .navbar-item {
    color: var(--medium-text);
    transition: all 0.3s;

    .caret {
      font-size: 1.1rem;
      margin-#{$start-direction}: 0.15rem;
      transition: transform 0.3s;
    }

    &:hover {
      color: var(--title-color);

      .caret {
        transform: rotate(180deg);
      }
    }

    &.is-end-bordered {
      border-#{$end-direction}: 1px solid transparent;
      padding-#{$end-direction}: 1.5rem;

      + .navbar-item {
        padding-#{$start-direction}: 1.5rem;
      }
    }
  }

  .navbar-menu {
    .navbar-end {
      .navbar-item {
        .navbar-button {
          height: 46px;
          min-width: 120px;
          background: var(--primary);
          border: 1.2px solid var(--primary);

          &:hover {
            box-shadow: var(--primary-box-shadow);
          }
        }
      }
    }
  }

  .account-dropdown {
    .dropdown-trigger {
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.25rem;
        width: 2.25rem;
        min-width: 2.25rem;
        padding: 0;
        background: none;
        outline: none;
        border: none;
        cursor: pointer;

        img {
          height: 2.25rem;
          min-height: 2.25rem;
          width: 2.25rem;
          min-width: 2.25rem;
          border-radius: 50%;
          pointer-events: none;
        }
      }
    }

    .dropdown-menu {
      .dropdown-content {
        border-radius: 0;
      }
    }

    .menu-option {
      display: flex;
      align-items: center;
      background: transparent;
      border-radius: 0;
      padding: 0.5rem;
      cursor: pointer;

      .iconify {
        font-size: 1rem;
        margin-#{$end-direction}: 0.75rem;
        color: var(--light-text);
      }

      .meta {
        line-height: 1.2;

        h4 {
          font-family: var(--font-alt);
          font-size: 0.8rem;
          font-weight: 600;
          color: var(--title-color);
        }

        p {
          font-size: 0.8rem;
          color: var(--light-text);
        }
      }

      &:hover {
        background: var(--wrap-muted-color);
      }
    }

    &.is-mobile {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    .navbar-brand {
      height: 70px;

      .navbar-burger {
        min-width: 70px;
        min-height: 70px;

        &:hover {
          background: transparent;
        }
      }
    }

    .navbar-menu {
      &.is-active {
        text-align: center;
        background: var(--navbar-bg-color);

        .button {
          width: 100%;
        }
      }
    }

    .navbar-item {
      .caret {
        position: relative;
        top: 3px;
      }

      &.is-mobile-centered {
        display: flex;
        justify-content: center;
      }

      &.is-icon {
        display: none;
      }
    }
  }

  .account-dropdown {
    display: none;

    &.is-mobile {
      display: flex !important;
      justify-content: center;
      align-items: center;
      margin-#{$end-direction}: .75rem;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .navbar {
    .navbar-brand {
      height: 70px;

      .navbar-burger {
        min-width: 70px;
        min-height: 70px;

        &:hover {
          background: transparent;
        }
      }
    }

    .navbar-menu {
      &.is-active {
        text-align: center;
        background: var(--navbar-bg-color);

        .button {
          width: 100%;
          max-width: 480px;
        }
      }
    }

    .navbar-item {

      .caret {
        position: relative;
        top: 3px;
      }

      &.is-mobile-centered {
        display: flex;
        justify-content: center;
      }

      &.is-icon {
        display: none;
      }
    }

    .account-dropdown {
      display: none;
  
      &.is-mobile {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin-#{$end-direction}: .75rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .navbar {
    &:not(.is-scrolled):not(.is-solid):not(.is-mobile) {
      .navbar-item {
        &.is-split {
          color: var(--white);
        }
      }
    }
  }
}