.search-hero {
  position: relative;
  background: var(--hero-grey-bg-color);

  .hero-cover {
    position: absolute;
    top: 0;
    #{$start-direction}: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    .cover-block {
      position: relative;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .hero-caption {
    position: relative;
    max-width: 370px;
    z-index: 2;
  }

  .hero-search-centered {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;

    > .has-text-centered {
      padding-top: 4rem;
    }
  }

  .hero-search {
    padding-top: 1.5rem;

    .tabs {
      position: relative;
      top: 1px;
      margin-bottom: 0;
      z-index: 1;

      li {
        a {
          display: inline-flex;
          align-items: center;
          min-width: 90px;
        }

        &.is-active {
          a {
            border-color: var(--card-border-color);
            background: var(--card-bg-color);
            color: var(--title-color);
          }
        }
      }
    }

    .search-bar {
      position: relative;
      padding: 0.75rem;
      background: var(--card-bg-color);
      border: 1px solid var(--card-border-color);
      margin-bottom: 1.5rem;

      .search-bar-inner {
        display: flex;
        gap: 0.5rem;

        .control {
          .input,
          .select,
          .select select {
            border: none;
            height: 60px;
            background: var(--card-bg-color);

            &:focus,
            &:focus-within {
              box-shadow: none !important;
            }
          }

          .input {
            border-#{$start-direction}: 1px solid var(--card-border-color);
            padding-#{$start-direction}: 60px;
          }

          .select {
            width: 100%;
            padding-#{$start-direction}: 45px;

            select {
              width: 100%;
            }

            &::after {
              transform: scale(0.9) rotate(-45deg);
              border-color: var(--light-text);
              transition: transform 0.3s;
            }

            &:focus-within {
              &::after {
                transform: scale(0.9) rotate(-225deg);
              }
            }
          }

          .form-icon {
            height: 60px;
            width: 60px;
          }

          .button {
            font-size: 1.1rem;
            height: 60px;
            min-width: 150px;
          }

          &:first-child {
            min-width: 250px;
          }

          &:nth-child(2) {
            flex-grow: 2;
          }

          &:focus-within {
            .form-icon {
              color: var(--primary);
            }
          }
        }
      }
    }

    .search-bar-settings {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      p {
        font-size: 0.9rem;
        color: var(--light-text);
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .search-hero {

    .hero-cover {
      display: none;
    }

    .hero-search {
      .search-bar {
        .search-bar-inner {
          flex-direction: column;

          .control {
            .input {
              border: none;
            }

            .button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .search-hero {
    .hero-cover {
      display: flex;
      flex-direction: column;

      .column {
        &:first-child {
          padding-bottom: 6rem !important;
        }
      }
    }

    .hero-body {
      align-items: flex-start !important;
    }
  }
}