/* ==========================================================================
Hero
========================================================================== */

.hero {
  .hero-foot {
    ul li {
      img {
        display: block;
        width: 100%;
        max-width: 120px;
        margin: 0 20px;
      }
    }
  }
}

.is-dark {
  .hero {
    .hero-foot {
      ul li {
        img {
          filter: invert(1);
        }
      }
    }
  }
}
