/* ==========================================================================
Layout
========================================================================== */

/* ==========================================================================
Hero
========================================================================== */

.hero {
    .hero-foot {
        ul li {
            img {
                display: block;
                width: 100%;
                max-width: 120px;
                margin: 0 20px;
            }
        }
    }
}

/* ==========================================================================
Footer
========================================================================== */

.footer {
    padding: 4rem 1.5rem 2rem 1.5rem;

    .title {
        margin-bottom: 16px;
    }

    .footer-text {
        color: lighten($dark-text, 12%);
        font-family: $font;
        font-size: .9rem;
    }

    .socials {
        padding-top: 16px;

        a {
            margin: 0 10px;
            font-size: 18px;
            color: $dark-text;
            transition: color .3s;

            &:hover {
                color: $primary;
            }
        }
    }

    .footer-menu {
        li {
            padding-bottom: 8px;
            font-family: $font;
            font-size: .9rem;
            color: $dark-text;

            a {
                color: $dark-text;
                transition: color .3s;

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 4rem;

        .copyright-text {
            color: $muted-grey;
            font-family: $font;
            font-size: .9rem;

            a {
                color: $primary;
                font-weight: 500;
            }
        }
    }
}
