/* ==========================================================================
Navbar
========================================================================== */

.navbar {
    background: transparent;
    min-height: 70px;
    z-index: 40;
    transition: all .3s;

    &.is-mobile {
        background: $white;
        border-bottom: 1px solid $fade-grey;
    }

    &.is-scrolled {
        background: $white;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);

        .navbar-brand {
            .navbar-burger {
                span {
                    color: $dark-text !important;
                }
            }
        }

        .navbar-menu {
            .navbar-end {
                .navbar-item {
                    .navbar-button {
                        background: $primary;
                        border: 1.2px solid $primary;
                        box-shadow: $primary-box-shadow;

                        &:hover {
                            background: $primary;
                            color: $white;
                            border-color: $primary;
                            box-shadow: $primary-box-shadow;
                        }
                    }
                }
            }
        }
    }

    .navbar-brand {
        img {
            height: 42px;
            max-height: 42px;
            width: auto;
        }

        .logo-text {
            margin-left: 16px;
            font-family: $font;
            font-size: 1.2rem;
            color: $dark-text;
            font-weight: bold;
        }
    }

    .navbar-item {
        color: $muted-grey;
        transition: all .3s;

        &:hover {
            color: $dark-text;
        }
    }

    .navbar-menu {
        .navbar-end {
            .navbar-item {
                .navbar-button {
                    height: 44px;
                    min-width: 130px;
                    background: $primary;
                    border: 1.2px solid $primary;

                    &:hover {
                        box-shadow: $primary-box-shadow;
                    }
                }
            }
        }
    }
}
