/* ==========================================================================
Navbar
========================================================================== */

.navbar {
  background: transparent;
  min-height: 70px;
  z-index: 40;
  transition: all 0.3s;

  &.is-mobile {
    background: var(--navbar-bg-color);
    border-bottom: 1px solid var(--navbar-border-color);
  }

  &.is-scrolled {
    background: var(--navbar-bg-color);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);

    .navbar-brand {
      .navbar-burger {
        span {
          color: var(--title-color) !important;
        }
      }
    }

    .navbar-menu {
      .navbar-end {
        .navbar-item {
          .navbar-button {
            background: var(--primary);
            border: 1.2px solid var(--primary);
            box-shadow: var(--primary-box-shadow);

            &:hover {
              background: var(--primary);
              color: var(--white);
              border-color: var(--primary);
              box-shadow: var(--primary-box-shadow);
            }
          }
        }
      }
    }
  }

  .navbar-brand {
    img {
      height: 42px;
      max-height: 42px;
      width: auto;
    }

    .logo-text {
      margin-left: 16px;
      font-family: var(--font);
      font-size: 1.2rem;
      color: var(--title-color);
      font-weight: bold;
    }
  }

  .navbar-item {
    color: var(--light-text);
    transition: all 0.3s;

    &:hover {
      color: var(--title-color);
    }
  }

  .navbar-menu {
    .navbar-end {
      .navbar-item {
        .navbar-button {
          height: 44px;
          min-width: 130px;
          background: var(--primary);
          border: 1.2px solid var(--primary);

          &:hover {
            box-shadow: var(--primary-box-shadow);
          }
        }
      }
    }
  }
}
