.logo-grid {
  padding: 3rem 0;
  max-width: 600px;
  margin: 0 auto;

  .logo-grid-inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .logo-grid-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(25% - 1rem);
      margin: 0.5rem;

      img {
        display: block;
        width: 100%;
        max-width: 110px;
      }
    }
  }
}

.is-dark {
  .logo-grid {
    .logo-grid-inner {
      .logo-grid-item {
        img {
          filter: invert(1);
        }
      }
    }
  }
}