<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Houseo</title>

    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600&family=Titillium+Web:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{root}}/css/app.css" />
    <link rel="stylesheet" type="text/css" href="{{root}}/css/main.css" />
  </head>

  <body
    x-data="initTheme()"
    :class="{
      'is-dark': $store.app.isDark,
      '': !$store.app.isDark
    }"
  >
    <!--Navbar partial-->
    {{> navbar}}

    <!--Body partial-->
    {{> body}}

    <!--Footer partial-->
    {{> footer}}

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.js"
      integrity="sha512-N9IJRoc3LaP3NDoiGkcPa4gG94kapGpaA5Zq9/Dr04uf5TbLFU5q0o8AbRhLKUUlp8QFS2u7S+Yti0U7QtuZvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <script src="./js/bundle.js"></script>
  </body>
</html>
